affine
cachetools
click>=5.0
cloudpickle>=0.4
dask[array]
gdal>=1.9
jsonschema
netcdf4
numpy
psycopg2
pypeg2
lark-parser>=0.6.7
python-dateutil
pyyaml
rasterio>=1.0.2  # Multi-band re-project fixed in that version
singledispatch
sqlalchemy
toolz
xarray>=0.9  # >0.9 fixes most problems with `crs` attributes being lost
