affine
cachetools
click>=5.0
cloudpickle>=0.4
dask[array]

# When installing on Travis-CI and in Docker, the GDAL python
# library version must exactly match the GDAL library version installed
# through apt-get. We handle this separately, so exclude gdal from
# this requirements file.

# gdal>=2.2,<3

jsonschema
netcdf4
numpy
psycopg2
pypeg2
lark-parser>=0.6.7
python-dateutil
pyyaml
rasterio>=1.0.22  # Multi-band re-project fixed in that version
singledispatch
sqlalchemy
toolz
xarray>=0.9  # >0.9 fixes most problems with `crs` attributes being lost
